@import url("https://fonts.googleapis.com/css2?family=Island+Moments&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --primary-color: #ff7e01;
  --secondary-color: #faa935;
  --heading-color: #0b2727;
  --text-color: #6e7074;
  --font-name: "Montserrat", sans-serif;
  --subtitle-font-name: "Island Moments", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-name);
  background: #fafafa;
}

section {
  margin: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--heading-color);
}

a {
  text-decoration: none;
  color: unset;
}

/* classes */


/* header css */
.header-link-item a.active{
  @apply text-blue-900;
}

/* css hero */
.hero-section .imgs-video img, .hero-section .imgs-video video{
  @apply rounded-[20px] w-[220px] h-[400px] object-cover;
}

/* css searchbar  */
.searchbar-section {
  @apply rounded-[20px] px-4 py-3 w-max;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}
.searchbar-section svg{
  @apply text-blue-900 text-[1.8rem];
}
.searchbar-section .form-item{
  @apply flex items-center gap-4;
}

/* css services section */
.service-item{
  @apply border-e border-b border-blue-900 rounded-lg flex flex-col gap-4 p-4;
}
.service-item span{
  @apply bg-blue-900 p-[8px] rounded-full w-max;
}
.service-item img{
  @apply w-[50px];
}

/* css featured tours section */
span.featured{
  @apply absolute bottom-0 right-0 bg-blue-900 py-2 px-3 text-white;
}
div.tour-item{
  @apply max-w-[300px] w-full flex flex-col gap-3 rounded-md pb-6;
  transition: all .4s;
}
div.tour-item:hover{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 18px 50px -10px;
}
div.tour-item img{
  @apply rounded-t-md;
}





.desktop-width{
  max-width: 1300px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 768px) {
  .desktop-width{
    max-width: 100%;
    padding-left: 24px;
    padding-right: 24px;
  }
}